@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Protest+Guerrilla&display=swap');


body {
    margin: 0;
    padding: 0;
}
body h2,h3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
body a, p,span{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.login-box-wrapper{
    background-color: #0059a4;
    height: 100vh;
    padding: 20px 0px;
}

.header-area{
    background-color: #19349d;
    height: 85px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    
}
.left-part{
    width: 80%;
    float: left;
}
.left-part h2{
    color: #fff;
    font-size: 45px;
    font-family: 'Protest Guerrilla', sans-serif;
}
.right-part{
    width: 15%;
    float: right;
    padding-top: 27px;
}
.right-part a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}
.login-box{
    width: 585px;
    margin: 20px auto;
    clear: both;
    border: 2px solid wheat;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}
.login-box h2{
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    padding: 10px;
}
.login-form, .register-box{
    width: 80%;
    margin: 0 auto;
}
.login-form input[type="text"], .login-form input[type="password"]{
    width:300px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.login-form button{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 7px;
}
.register-box{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom:2px solid rgb(167, 1, 1)
}
.register-box a{
    font-size: 16px;
    margin-left: 10px;
}
/* ========== Author content ============== */
.author-content-area{
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;
}
.author-content-area .left-part{
    width:20%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #19349d;
}
.author-content-area .middle-part{
    width: 45%;
    padding-left: 35px;
    padding-top: 10px;
    border-left: 2px solid gray;
 
}
.author-content-area .right-part{
    width:30%;
    padding-left: 20px;
    border-left: 2px solid gray;
}
.author-content-area .left-part ul{
    padding: 20px;
}
.author-content-area .left-part ul li{
    display: block;
    padding: 5px;
}
.author-content-area .left-part ul li a{
    color: #fff;
    text-decoration: none;
}
.author-content-area .left-part h3{
    color: #fff;
    font-size: 20px;
}
.author-content-area .middle-part-menu li{
    padding: 5px 5px;
    display: block;
}
.author-content-area .middle-part ul li a{
    text-decoration: none;
}
.author-content-area .right-part ul li{
    padding: 5px;
}
.author-content-area .right-part ul li a{
    color:black;
    font-size: 16px;
    
}

.form-area {
    width: 100%;
    border: 2px solid;
    padding: 10px 20px;
    display: flex;
    margin-top: 20px;
    position: relative;
    min-height: 390px;
    overflow: hidden;
    margin-bottom: 40px;
}
.form-area input[type='text']{
    width: 260px;
    margin: 5px;

}
.form-box{
    margin-right: 10px;
    padding-left: 65px;
}
.form-box h2{
    font-size: 20px;
    margin-bottom: 20px;
}
#page2,#page3,#page4,#page5,#page6,#page7,#page8{
    position: absolute;
    left: 300px;
    transition: 0.3s;
    visibility: hidden;


}
.author-content-area .full-width{
    width: 75%;
}
.myprogress-bar{
    margin-left: -30px;
    margin-top: 38px;
    margin-bottom: 36px;
}
.myprogress-bar li{
    display:inline-block !important;
    padding: 5px 15px;
    position: relative;
}
.myprogress-bar li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 15px 20px;
}
.myprogress-bar li::after{
    content: '';
    width: 35px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 17px;
    left: 69px;
}
.myprogress-bar li:last-child::after{
    width: 0px;
    height: 0px;
   
}
.active{
    background:#19349d;
    color: #fff !important;
}
a.btn{
    padding: 3px 10px !important;
    padding-bottom: 5px !important;
}